h2{
  text-align: center;
}

div .employee-list {
  margin: 0 auto;
  text-align: center;
  columns: 3;
}

.employee-card{
  background-color: rgb(235, 237, 241);
  border: 1px solid rgb(97, 120, 172);
  padding: 3px;
  margin-bottom: 15px;
  display: flex;
}

.employ-card-deets{
  overflow: hidden;
  margin-left: auto;
  margin-right: 20px;
  width: 200px;
}

p{
  display: block;
}

 img {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4{
  text-transform: capitalize;
  display: block;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.5);
}