h2{
  text-align: center;
}

div .employee-list {
  margin: 0 auto;
  text-align: center;
  columns: 3;
}

.employee-card{
  background-color: rgb(235, 237, 241);
  border: 1px solid rgb(97, 120, 172);
  padding: 3px;
  margin-bottom: 15px;
  display: flex;
}



 img {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 10px;
}

h4{
  text-transform: capitalize;
}