h2{
  text-align: center;
}

div .employee-list {
  margin: 0 auto;
  text-align: center;
  columns: 3;
}

.employee-card{
  background-color: rgb(235, 237, 241);
  border: 1.5px solid rgb(97, 120, 172);
  border-radius: 2.5%;
  padding: 3px;
  margin-bottom: 15px;
  display: flex;
  transition: all .2s ease-in-out;
  box-shadow: 3px  3px rgba(8, 8, 8, 0.3);
}

.employee-card:hover{
  transform: scale(1.03);
}

.employ-card-deets{
  overflow: hidden;
  margin-left: auto;
  margin-right: 30px;
  width: 200px;
}

p{
  display: block;
}

 img {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

h4{
  text-transform: capitalize;
  display: block;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.5);
}

.modal-content{
  height: fit-content;
  width: fit-content;
  z-index: 1;
  background-color: blanchedalmond;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 5em;
  left: 25em;
}

button{
  margin: 5px 10px;

}